@font-face {
    font-family: 'Madelyn';
    src: url('../font/fonts-am/Madelyn-Regular.woff2') format('woff2'),
        url('../font/fonts-am/Madelyn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin madelyn() {
	font-family: 'Madelyn', Helvetica, sans-serif;
}

